th {
  vertical-align: top;
  background-color: #ef89a1 !important;
}

input, textarea, select {
  background-image: linear-gradient(to right, #e7c2c2, #e7c2c2);
    box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
    border-color: rgba(255, 105, 180, 0.5);
    color: #FFFFFF;
}


input, textarea, select {
  background-image: linear-gradient(to right, #e7c2c2, #e7c2c2);
    box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
    border-color: rgba(255, 105, 180, 0.5);
    color: #FFFFFF;
}


body {
  /* Fondo negro */
  background-color: #000000;
  /* Color de texto blanco */
  color: #FFFFFF;
}


.logo_pequeno{
  width: 40px;
  margin-right: 10px;
}

/*NAVEGADOR ANONIMO*/
.nav_anonimo {
  background-image: linear-gradient(to right, white );
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-bottom: 1px solid rgba(255, 105, 180, 0.5);
  color: #FFFFFF;
}
.boton_buscar_anonimo {
  background-image: linear-gradient(to right, #e7c2c2, #e7c2c2);
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-color: rgba(255, 105, 180, 0.5);
  color: #FFFFFF;
}

.boton_buscar_anonimo_2{
  background-image: linear-gradient(to right, #ef89a1, #e7c2c2);
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-color: rgba(255, 105, 180, 0.5);
  color: #000000;
  text-align: center;
  
}
.btn_eliminar_carrito{
  background-image:#e63950;
  color: #ffffff;
}
/*alinear el boton de buscar de anonimo junto al icono*/
button.btn {
  display: flex;
  align-items: center; 
  margin-right: 5px;
}
/*ajustar un margen del boton de buscar de anonimo junto al icono*/
button.btn svg {
  margin-right: 5px; 
}

/*INDEX*/
/*fondo de los productos*/
.index_prod_1{
  background-color: #2a2c47;
  background-image: linear-gradient(to right, #1a1c35, #59647e);
  color: #5d6087;
  max-width: 250px;
  margin: auto;  
}

.form-control {
  max-width: 400px; /* Ancho máximo para los campos de texto */
}

.index_disponible {
  color: green;
  font-weight: bolder;
  
}

.index_precio {
  color: rgb(167, 8, 153);
  font-size: 25px;
  
}

.index_subscrito {
  color: red;
  font-size: 20px;
}

.index_oferta {
  color: green;
  font-weight: bolder;
}
.letra_blanca{
  color: #fff;
}
.index_foto_fondo {
  background-color: #000000;
  border: 2px solid rgba(255, 105, 180, 0.5);
  color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
}
.index_btn_comprar{
  background-image: linear-gradient(to right, #ef89a1, #e7c2c2);
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-color: rgba(255, 105, 180, 0.5);
  color: #000000;  
} 
.admin_btn_django{
  background-image: linear-gradient(to right, rgb(167, 8, 153), rgb(167, 8, 153));
  box-shadow: 0 2px 4px rgb(246, 91, 192);
  border-color: rgba(255, 105, 180, 0.5);
  color: #ffffff; 
  width:260px; 
  height: 50px; 
  font-size: 17px;
  
}
.titulos{
  color:#ef89a1;
  
}
.titulos_2{
  background-image: linear-gradient(to right, #000000, #000000);
  color:#ba5f74;
}
.navbar-nav .nav-link {
  color: #ba5f74 !important; 
}

/*FICHA*/
.titulo_producto_ficha {
  font-weight: bolder;
  font-size: 40px;
}

.oferta_en_ficha {
  color: blue;
  font-weight: bolder;
  font-size: 30px;
}

.precio_oferta_subscrito {
  color: rgb(167, 8, 153);
  font-size: 35px;
}

.descripcion_ficha {
  font-size: 20px;
  font-weight: bolder;
}

.foto_ficha {
  height: 450px;
  margin-right: 50px;
  font-weight: bolder;
}

/*NOSOTROS*/
.borde_nosotros{
  background-color: #000000;
  border-radius: 15px; 
  border: 3px solid rgba(255, 105, 180, 0.5);
  
}
.boton_correo{
  background-image: linear-gradient(to right, #e7c2c2, #e7c2c2);
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-color: rgba(255, 105, 180, 0.5);
  color: #FFFFFF;

}

/*REGISTRO*/
.registro_color{
  background-color: #e7c2c2;
  background-image: linear-gradient(to right, #e7c2c2, #e7c2c2);
  color:black;
}

/*INGRESAR*/
.cuadro_login {
  border: 10px solid rgba(255, 105, 180, 0.5);
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  
}
.boton_ingresar {
  background-image: linear-gradient(to right, #ef89a1, #e7c2c2);
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-color: rgba(255, 105, 180, 0.5);
  color: black; 
  width: 200px;
  margin: auto;
  text-align: center;
  justify-content: center; 
  align-items: center;
  
}

/*Carrito de compras*/
th.carrito_color_tabla {
  background-color: #d55674;
}

.color_footer{
  color:rgba(255, 105, 180, 0.5);
}

.color_ropa {
  background-color: #2a2c47;
  background-image: linear-gradient(to right, #1a1c35, #59647e);
  color: white;
}

/*Admistrador*/
.admin_foto{
  max-width: 450px;
  margin-left: 200px;  
}

/*Subrayado cuando*/

td.ver-detalle {
  color: blue; 
  text-decoration: none; 
  cursor: pointer; 
}
td.ver-detalle:hover {
  text-decoration: underline; 
}

.boton_eliminar {
  background-color: #7073a3;
  border-color: black; 
  width: 100px;
  text-align: center;
  justify-content: center; 
  align-items: center;
  margin: auto ;
  text-align: center;
}

/*Botones de ventas*/
.botones-container button {
  display: inline-block;
  margin-right: 5px; /* Espacio entre los botones */
}
.error-text {
  color: red;
}
.btn-primary {
  border:  transparent; /* Borde inicial transparente */
}
.btn-primary:hover {
  outline: none; /* Sin borde azul al enfocar */
  border: transparent; /* Borde transparente al enfocar o pasar el ratón */
  background-color: #0056b3; /* Cambia el color de fondo si es necesario */
}
.boton_ver_detalle{
  background-image: linear-gradient(to right, #d8b0b8, #d0a5a5);
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-color: rgba(255, 105, 180, 0.5);
  color: #000000;
  text-align: center;
  
}
.boton_ropa{
  background-image: linear-gradient(to right, #ef89a1, #e7c2c2);
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-color: rgba(255, 105, 180, 0.5);
  color: rgb(0, 0, 0); 
  text-align: center;
}

.letra_rosa{
  color:#ef89a1;
}
.tabla_carrito{
  background-color:#d55674; 
  border-color: #d55674;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*boton anterior siguiente de carrito*/
.page-link {
  background-color: #ef89a1 !important;
  color: rgb(0, 0, 0) !important;
  border-color: rgba(255, 105, 180, 0.5); /* Color de borde blanco */
  box-shadow: 0 2px 4px rgba(255, 79, 167, 0.807);

}
.page-link:hover {
  background-color: #cb6e84 !important;
  border-color: rgba(255, 105, 180, 0.5); /* Color de borde blanco */
  box-shadow: 0 2px 4px rgba(255, 79, 167, 0.807);
  color: rgb(0, 0, 0) !important;

  
}
.page-item.active .page-link {
  background-color: #cb6e84 !important;
  color: rgba(0, 0, 0, 0.5) !important; /* Color de texto blanco para el número activo */
  border-color: rgba(255, 105, 180, 0.5); /* Color de borde blanco */
  box-shadow: 0 2px 4px rgba(255, 79, 167, 0.807);

}

/*boton mostrar y buscar de carrito*/
.dataTables_length,
.dataTables_filter {
    color: #ef89a1 !important; /* Cambia el color del texto */
}
.dataTables_length select,
.dataTables_filter input {
  background-color:#e7c2c2 !important;
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-color: rgba(255, 105, 180, 0.5);
  color: #000000;
}
.dataTables_length select:focus,
.dataTables_filter input:focus {
    outline: none;
    box-shadow: 0 0 5px #cb6e84;
}

/* Estilos para formularios */
#form input[type="text"] {
  background-color: linear-gradient(to right, #e7c2c2, #e7c2c2);
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-color: rgba(255, 105, 180, 0.5);
  color: #000000;
}
#form select {
  background-color:#e7c2c2 !important;
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-color: rgba(255, 105, 180, 0.5);
  color: #000000;
}


#form input[type="number"] {
  background-color: linear-gradient(to right, #e7c2c2, #e7c2c2);
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
  border-color: rgba(255, 105, 180, 0.5);
  color: #000000;
}

.dataTables_info{
  color: #ef89a1;
}
#form label,
    #form .form-group > label,
    #form .form-group > .helptext,
    #form .form-check-label {
        color: #ef89a1; 
        font-weight: bold;
    }







